<button *ngFor="let item of counter(); let i = index" mat-raised-button (click)="cambiarPagina(i+1)">{{i+1}}</button>

<br />

<div *ngFor="let vehicle of vehiclesList">
    <mat-card class="example-card">

        <img mat-card-image [src]="mostrarImg(vehicle)"
            onerror="this.src='https://starwars-visualguide.com/assets/img/placeholder.jpg'" width="30px"
            alt="Foto Personaje StarWars" (click)="mostrarInformacion(vehicle)">

        <mat-card-content>
            <h3>{{vehicle.name}}</h3>
        </mat-card-content>
    </mat-card>
</div>
