<h1 mat-dialog-title>{{vehicleData.vehicleInfo.name}}</h1>
<div mat-dialog-content style="width: 300px;">
    <ul>
        <li>Modelo: {{vehicleData.vehicleInfo.model}}.</li>
        <li>Fabricante: {{vehicleData.vehicleInfo.manufacturer}}.</li>
        <li>Clase: {{vehicleData.vehicleInfo.vehicle_class}}.</li>
        <li>Precio: {{vehicleData.vehicleInfo.cost_in_credits}} créditos.</li>
        <li>Velocidad: {{vehicleData.vehicleInfo.max_atmosphering_speed}}km/h.</li>
        <li>Longitud: {{vehicleData.vehicleInfo.length}}m.</li>
        <li>Capacidad: {{vehicleData.vehicleInfo.cargo_capacity}} metric tons.</li>
        <li>Tripulación mínima: {{vehicleData.vehicleInfo.crew}}.</li>
        <li>Pasarejos: {{vehicleData.vehicleInfo.passengers}}.</li>
    </ul>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cerrar</button>
    </div>
</div>