<button *ngFor="let item of counter(); let i = index" mat-raised-button (click)="cambiarPagina(i+1)">{{i+1}}</button>

<br />

<div *ngFor="let film of filmList">
    <mat-card class="example-card">

        <img mat-card-image [src]="mostrarImg(film)" width="30px" alt="Foto Película StarWars"
        onerror="this.src='https://starwars-visualguide.com/assets/img/placeholder.jpg'" width="30px"
        alt="Imagen de nave no encontrada">

        <mat-card-content>
            <h3>{{film.title}}</h3>
            <p>Número de Película: {{film.episode_id}}</p>
            <p><strong>Intro</strong></p>
            <p>{{film.opening_crawl}}</p>
        </mat-card-content>
    </mat-card>
</div>
