<div>
    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile><a routerLink="/people"><img
                    src="https://starwars-visualguide.com/assets/img/categories/character.jpg"
                    alt="Imagen de personajes de StarWars" /></a>
        </mat-grid-tile>
        <mat-grid-tile><a routerLink="/films"><img
                    src="https://starwars-visualguide.com/assets/img/categories/films.jpg"
                    alt="Imagen de películas de StarWars" /></a>
        </mat-grid-tile>
        <mat-grid-tile><a routerLink="/species"><img
                    src="https://starwars-visualguide.com/assets/img/categories/species.jpg"
                    alt="Imagen de especies de StarWars" /></a>
        </mat-grid-tile>

        <mat-grid-tile>
            <p>PERSONAJES</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>PELÍCULAS</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>ESPECIES</p>
        </mat-grid-tile>

        <mat-grid-tile><a routerLink="/starships"><img
                    src="https://starwars-visualguide.com/assets/img/categories/starships.jpg"
                    alt="Imagen de naves de StarWars" /></a>
        </mat-grid-tile>
        <mat-grid-tile><a routerLink="/vehicles"><img
                    src="https://starwars-visualguide.com/assets/img/categories/vehicles.jpg"
                    alt="Imagen de vehículos de StarWars" /></a>
        </mat-grid-tile>
        <mat-grid-tile><a routerLink="/planets"><img
                    src="https://starwars-visualguide.com/assets/img/categories/planets.jpg"
                    alt="Imagen de planetas de StarWars" /></a>
        </mat-grid-tile>

        <mat-grid-tile>
            <p>NAVES</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>VEHÍCULOS</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>PLANETAS</p>
        </mat-grid-tile>
    </mat-grid-list>
</div>