div {
    width: 100%;
    margin: 50px auto;
    text-align: center;
  }
  
  p {
    color: yellow;
    font-weight: bold;
    margin-top: -50px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 1.5em;
  }
  