<h1 mat-dialog-title>{{peopleData.peopleInfo.name}}</h1>
<div mat-dialog-content style="width: 300px;">
    <ul>
        <li>Año de nacimiento: {{peopleData.peopleInfo.birth_year}}.</li>
        <li>Altura: {{peopleData.peopleInfo.height}}cm.</li>
        <li>Peso: {{peopleData.peopleInfo.mass}}kg.</li>
        <li>Género: {{peopleData.peopleInfo.gender}}.</li>
        <li>Color de pelo: {{peopleData.peopleInfo.hair_color}}.</li>
        <li>Color de piel: {{peopleData.peopleInfo.skin_color}}.</li>
        <li>Color de ojos: {{peopleData.peopleInfo.eye_color}}.</li>

        <p><strong>Aparición en películas</strong></p>
        <ul *ngFor="let pelicula of peopleData.peopleInfo.films">
            <li>{{mostrarNombrePeliculas(pelicula)}}</li>
        </ul>
    </ul>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cerrar</button>
    </div>
</div>